<%- include('./partials/header') %>
<p>Hello <%= name %>!</p>
<p>Hello <%= age %>!</p>
    <div class="clockcontainer">
      <h1 class="heading">Digital clock about</h1>
      <div id="clock" class="clock"></div>
    </div>
    <div id="display"></div>
    <button id="jqueri">click here</button>

    <%- include('./partials/footer') %>
